_site
.sass-cache
.jekyll-cache
.jekyll-metadata
**/.DS_Store
*/.DS_Store
*/*/.DS_Store
vendor
assets/.DS_Store
_includes/.DS_Store
_posts/.DS_Store
assets/.DS_Store
docs_backup/.DS_Store
assets/.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/.DS_Store
assets/js/.DS_Store
