{% if page.previous or page.next %}
  <nav class="pagination post-pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager">
        <span class="pagination--pager__label">&larr; {{ site.data.ui-text[site.locale].pagination_previous | default: "PREV" }}</span>
        <span class="pagination--pager__title">{{ page.previous.title | markdownify | strip_html }}</span>
      </a>
    {% else %}
      <span class="pagination--pager disabled"></span>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager pagination--pager--next">
        <span class="pagination--pager__label">{{ site.data.ui-text[site.locale].pagination_next | default: "NEXT" }} &rarr;</span>
        <span class="pagination--pager__title">{{ page.next.title | markdownify | strip_html }}</span>
      </a>
    {% else %}
      <span class="pagination--pager disabled"></span>
    {% endif %}
  </nav>
{% endif %}
