---
layout: archive
---

{{ content }}

{% if paginator.page == 1 or paginator == nil %}
  {% assign pinned_posts = site.posts | where: "pinned", true %}
  {% if pinned_posts.size > 0 %}
    <h2 class="archive__subtitle">📍 Pinned Posts</h2>
    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% for post in pinned_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

<br>

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "⭐️ Recent Posts" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>


{% include paginator.html %}

<br>
<div style="margin-top: 20px;">
  <img src="https://ghchart.rshah.org/whdrns2013" alt="whdrns2013's Github chart">
</div>
